#version=RHEL7
#21_V1.9
#by FineFan
#e-mail:fine.fan@hotmail.com
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --disable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='cn'
# System language
lang en_US.UTF-8
#Firewall configuration
firewall --enabled --ssh --port=13290:tcp
# Network information
#network  --bootproto=dhcp --device=eno16777736 --onboot=off --ipv6=auto
network  --device=lo --hostname=localhost.localdomain
# Reboot after installation and eject the cdrom
reboot --eject
# Root password
#rootpw --iscrypted $6$tGsQdiOOJ10NWgpA$GJvT9PnTGptHLfkaqboPMAHuelpXk3a/0ShWZdaOMCyrcHou7VeLxBK01MAE3BQhc9Y/.TOE/Zp6Do5.lX6Pe0
rootpw --iscrypted $6$QAIAbHQflXF3nkyW$qby4zUYvb5DNpretSQtvAWL.7ZIMLBV1HxUuPLSm622QBtzyidtKAUecIek9qW9qZBj76x2VuYHbyb92h6dji0
# System timezone
timezone Asia/Shanghai --isUtc
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --drives=sda --all --initlabel 

%packages
@base
@core
@development
@virtualization-hypervisor
@virtualization-platform
@virtualization-tools
@gnome-desktop
%end
%post
#Bak the sshd configure file
cp /etc/ssh/sshd_config  /etc/ssh/sshd_config_bak
#PermitRootLogon no and port to 13290
sed -i 's/#Port 22/Port 13290/'g /etc/ssh/sshd_config
sed -i 's/#PermitRootLogin yes/PermitRootLogin no/'g /etc/ssh/sshd_config
#Disabled SELinux
cp /etc/selinux/config /etc/selinux/config_bak
sed -i 's/SELINUX=enforcing/SELINUX=disabled/'g /etc/selinux/config
#add Fine_Fan user and give passwd 
useradd Fine_Fan
echo fine.123.qwe.asd-21 | passwd --stdin Fine_Fan
#Configure Local YUM repo
mkdir /etc/yum.repos.d/bak
mv /etc/yum.repos.d/CentOS-* /etc/yum.repos.d/bak/
echo [dvd] > /etc/yum.repos.d/dvd.repo
echo name=dvd >> /etc/yum.repos.d/dvd.repo
echo enabled=1 >> /etc/yum.repos.d/dvd.repo
echo baseurl=file:///mnt >> /etc/yum.repos.d/dvd.repo
echo gpgcheck=0 >> /etc/yum.repos.d/dvd.repo 
mount /dev/cdrom /mnt
#mkdir home kvm dirs
mkdir -p /home/KVMs/{ISOs,kvmimages}
#coy KVM Drivers to Home
cp -r /mnt/KVMVirtioDrivers /home/KVMs/
#Custom the /etc/issue
cp /etc/issue /etc/issue_bak
cp -f /mnt/issue_21_v2 /etc/issue
#Custom the default Desktop BackGround
cp /usr/share/backgrounds/default.jpg /usr/share/backgrounds/default.jpg_bak
cp -f /mnt/default.jpg /usr/share/backgrounds/
#install packages
yum -y install virt-manager
yum -y groupinstall "GNOME Desktop"
yum -y install lftp
#boot as Gnome Desktop
ln -sf /lib/systemd/system/graphical.target /etc/systemd/system/default.target
#Configure iptables
iptables -I INPUT -p tcp --dport 13290 -j ACCEPT
service iptables save
%end
